<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Reset password for <%= email %>
    </h1>
    <form action="/reset-password/:_id/:token " method="POST">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="password">Confirm Password</label>
        <input type="password" name="password2" id="password2">
    </form>

    <input type="submit" value="reset password">

</body>

</html>